@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
